<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>script take jenkins backup </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.34.3">
      <projectUrl>https://github.com/avinashcta16/jenkinsbackup.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cd /var/lib/jenkins

 
git init


git add *

git commit -m &quot;jenkins backup on &quot;date&quot;&quot;

git config --global user.email avinashcta16@gmail.com 
  git config --global --edit
  git remote rm origin
  git remote add origin &apos;git@github.com:avinashcta16/repo.git&apos;
git push https://github.com/avinashcta16/jenkinsbackup.git</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>